.App {
  font-family: Georgia;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #393939;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1), 0 1px 4px rgba(0, 0, 0, 0.1), 0 2px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.App-body {
  text-align: center;
}

.darkMode {
  background-color: #2d2d2d;
  color: #eee;
  opacity: 0.87;
}

.darkImg {
  float: right;
  margin: 10px 20px 5px 0px;
  cursor: pointer;
}

.quizHead{
  margin:0px;
  font-size: 20px;
  font-weight: bold;
}

button {
  box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.5);
}