body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bwidth {
  width: 250px;
}

.corClass {
  font-size: large;
  color: white;
  background-color: #5cb85c;
  border-radius: 10px;
}

.wrgClass {
  font-size: large;
  color: white;
  background-color: #d9534f;
  border-radius: 10px;
}